
<ion-content [fullscreen]="true">
  <div class="ion-header-container">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menu-button"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <span class="header-title">How to visit</span>
      </ion-buttons>
      <ion-buttons slot="end" (click)="redirectTo('/tabs/home')">
        <ion-icon name="home" class="header-notification"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    <!-- <ion-card class="visit-card">
      <div class="visit-header">
        <img class="visit-img" src="../../../assets/logos/visits-logo.jpg" alt="User Image">
        <div class="visit-info">
          <h6>The Eternal City of Divine Blessings & Timeless Spirituality!</h6>
        </div>
      </div>
    </ion-card> -->
 </ion-header>
  </div>

<ion-list class="visit-form">
  <h3 style="
  margin-left: 18px;
  font-size: 1.2rem;
  font-weight: 500;">Popular Places</h3>
  <ion-item style="padding: 0px;">

      <div class="visit-list-header" (click)="openModal(0)">
        <img class="visit-list-img" src="../../../assets/temple/84_mahadev.jpg" alt="User Image">
        <div class="visit-list-info">
          <h6>Chaurasi Mahadev Temples</h6>
          <p>Famous pilgrimage circuit </p>
          <p style="display: flex;"><ion-icon name="location-outline"></ion-icon> Ujjain (MP)</p>
        </div>
      </div>

  </ion-item>
  <ion-item style="padding: 0px;">
    <!-- <ion-card class="visit-list-card"> -->
      <div class="visit-list-header" (click)="openModal(1)"> 
        <img class="visit-list-img" src="../../../assets/temple/talab.jpg" alt="User Image">
        <div class="visit-list-info">
          <h6>The "Sapt Sagar"</h6>
          <p>Religious site for spiritual journeys.</p>
          <p style="display: flex;"><ion-icon name="location-outline"></ion-icon> Ujjain (MP)</p>
        </div>
      </div>
    <!-- </ion-card> -->
  </ion-item>
  <ion-item style="padding: 0px;">

    <div class="visit-list-header" (click)="openModal(0)">
      <img class="visit-list-img" src="../../../assets/temple/84_mahadev.jpg" alt="User Image">
      <div class="visit-list-info">
        <h6>Chaurasi Mahadev Temples</h6>
        <p>Famous pilgrimage circuit </p>
        <p style="display: flex;"><ion-icon name="location-outline"></ion-icon> Ujjain (MP)</p>
      </div>
    </div>

</ion-item>
<ion-item style="padding: 0px;">
  <!-- <ion-card class="visit-list-card"> -->
    <div class="visit-list-header" (click)="openModal(1)"> 
      <img class="visit-list-img" src="../../../assets/temple/talab.jpg" alt="User Image">
      <div class="visit-list-info">
        <h6>The "Sapt Sagar"</h6>
        <p>Religious site for spiritual journeys.</p>
        <p style="display: flex;"><ion-icon name="location-outline"></ion-icon> Ujjain (MP)</p>
      </div>
    </div>
  <!-- </ion-card> -->
</ion-item>
<ion-item style="padding: 0px;">

  <div class="visit-list-header" (click)="openModal(0)">
    <img class="visit-list-img" src="../../../assets/temple/84_mahadev.jpg" alt="User Image">
    <div class="visit-list-info">
      <h6>Chaurasi Mahadev Temples</h6>
      <p>Famous pilgrimage circuit </p>
      <p style="display: flex;"><ion-icon name="location-outline"></ion-icon> Ujjain (MP)</p>
    </div>
  </div>

</ion-item>
<ion-item style="padding: 0px;">
<!-- <ion-card class="visit-list-card"> -->
  <div class="visit-list-header" (click)="openModal(1)"> 
    <img class="visit-list-img" src="../../../assets/temple/talab.jpg" alt="User Image">
    <div class="visit-list-info">
      <h6>The "Sapt Sagar"</h6>
      <p>Religious site for spiritual journeys.</p>
      <p style="display: flex;"><ion-icon name="location-outline"></ion-icon> Ujjain (MP)</p>
    </div>
  </div>
<!-- </ion-card> -->
</ion-item>
<ion-item style="padding: 0px;">

  <div class="visit-list-header" (click)="openModal(0)">
    <img class="visit-list-img" src="../../../assets/temple/84_mahadev.jpg" alt="User Image">
    <div class="visit-list-info">
      <h6>Chaurasi Mahadev Temples</h6>
      <p>Famous pilgrimage circuit </p>
      <p style="display: flex;"><ion-icon name="location-outline"></ion-icon> Ujjain (MP)</p>
    </div>
  </div>

</ion-item>
<ion-item style="padding: 0px;">
<!-- <ion-card class="visit-list-card"> -->
  <div class="visit-list-header" (click)="openModal(1)"> 
    <img class="visit-list-img" src="../../../assets/temple/talab.jpg" alt="User Image">
    <div class="visit-list-info">
      <h6>The "Sapt Sagar"</h6>
      <p>Religious site for spiritual journeys.</p>
      <p style="display: flex;"><ion-icon name="location-outline"></ion-icon> Ujjain (MP)</p>
    </div>
  </div>
<!-- </ion-card> -->
</ion-item>

</ion-list>

</ion-content>