<div class="ion-header-container">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menu-button"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <span class="header-title">Mahakaleshwar</span>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon name="notifications" class="header-notification"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
 </ion-header>
</div>

<ion-content>
  <div class="img-container">
    <img src="../../../assets/temple/temp1.jpg" alt="Ujjain Mahakaleshwar Temple">
  </div>
  <div class="content-wrapper">
    <h1>Mahakaleshwar <ion-icon name="location-outline" slot="start"></ion-icon>Ujjain </h1>
    <div class="content">
    <p>
      The Mahakaleshwar Temple, located in Ujjain, Madhya Pradesh, is one of the most revered Hindu temples dedicated to Lord Shiva. 
      It is one of the 12 Jyotirlingas, the holiest abodes of Shiva, and holds immense significance in Hindu mythology and spirituality.
    </p>
    <h2>Key Highlights:</h2>
    <ul>
      <li>The temple's presiding deity, Lord Shiva, is worshipped in the form of a Swayambhu (self-manifested) linga.</li>
      <li>The temple is known for its Bhasma Aarti, a unique ritual where the deity is offered sacred ash.</li>
      <li>The temple's architecture is a fine blend of Maratha, Bhumija, and Chalukya styles.</li>
    </ul>
    <h2>Historical Importance:</h2>
    <p>
      The temple has been mentioned in ancient texts like the Mahabharata and the Puranas, and its origins date back to several centuries.
      It is believed that Lord Shiva emerged here to protect the city of Ujjain and its people from evil forces.
    </p>
    <h2>Festivals and Celebrations:</h2>
    <p>
      The temple is a focal point during festivals like Maha Shivaratri and Navratri, attracting thousands of devotees from across the country.
    </p>
    <h2>Visiting Hours:</h2>
    <p>
      The temple is open daily from early morning to late evening, with special timings for the Bhasma Aarti. Visitors are advised to book in advance for the Aarti.
    </p>
    <h2>Your Location</h2>

    <div class="location">
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3749584.286376949!2d72.37336527694922!3d23.398944655868128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smahakaleshwar!5e0!3m2!1sen!2suk!4v1735908183160!5m2!1sen!2suk" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
</ion-content>


