<div class="ion-header-container">
  <!-- Header Section -->
  <ion-header
    [ngStyle]="{'background': 'url(' + listContent()[0].image[0].img + ') no-repeat', 'background-size': 'cover', 'background-position': 'center'}" [ngStyle]="{'background': 'url(' + listContent()[0].image[0].img + ')', 'background-size': 'cover', 'background-position': 'center'}">
    <ion-toolbar>
      <ion-buttons slot="end" (click)="closeModal()">
        <ion-icon class="menu-button" name="close-circle"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    <div class="temp-title">
      <span class="title">{{truncateText(2,listContent()[0]?.title['en'])}}</span>
      <div class="rating-stars">
        <ion-icon *ngFor="let star of getStars(5.0)" [name]="star"></ion-icon>
      </div>
    </div>
  </ion-header>
  <!-- End Header Section -->
  <!-- List Section -->
  <div *ngFor="let content of listContent()">
    <ion-card class="temple-list" (click)="selectTempleDetails()">
      <ion-row>
        <ion-col size="4" class="temple-img">
          <img [src]="content.image[0].img" alt="" />
        </ion-col>
        <ion-col size="8" class="temple-details">
          <span>{{ content?.title['en'] }}</span>
          <span>Ujjain,(MP)</span>
          @if (content.price) {
          <span >Price: {{content.price}}</span>
          }
          <div class="temple-rating-stars">
            <ion-icon *ngFor="let star of getStars(5.0)" [name]="star"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- End List Section -->
</div>