<div class="ion-header-container">
  <!-- Header Section -->
   <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button class="menu-button"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <span class="header-title">Temples</span>
      </ion-buttons>
      <ion-buttons slot="end" (click)="redirectTo('/tabs/home')">
        <ion-icon name="home" class="header-notification"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
    <!-- <ion-card class="visit-card">
      <div class="visit-header">
        <img class="visit-img" src="../../../assets/logos/visits-logo.jpg" alt="User Image">
        <div class="visit-info">
          <h6>The Eternal City of Divine Blessings & Timeless Spirituality!</h6>
        </div>
      </div>
    </ion-card> -->
 </ion-header>
  <!-- End Header Section -->
  <!-- List Section -->
  <div *ngFor="let content of templeContent()">
    <ion-card class="temple-list" (click)="openModal(content,content.id)">
      <ion-row>
        <ion-col size="4" class="temple-img">
          <img [src]="content.image[0].img" alt="" />
        </ion-col>
        <ion-col size="8" class="temple-details">
          <span>{{ content?.title['en'] }}</span>
          <span>{{ content?.description['en'] | truncateWords: 4 }}</span>
          @if (content.price) {
          <span >Price: {{content.price}}</span>
          }
          <div class="temple-rating-stars">
            <ion-icon *ngFor="let star of getStars(5.0)" [name]="star"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <!-- End List Section -->
</div>