<div class="view-screens-header">
  <iframe #iframeElement src="https://www.youtube.com/embed/_RoV-sueMWs?si=_sC0mhq6nlpJwl_e"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="live-darshan-container">
  <div class="title-wrapper">
    <div class="ring-container">
      <div class="ringring"></div>
      <div class="circle"></div>
    </div>
    <span class="live-streem" style="font-size: 0.9rem;">Live</span>
  </div>
  <span class="live-streem-title">Live Dharshan Shree Mahakaleshwar Temple</span>
</div>
<ion-grid>
  <ion-row>
    <ion-col style="padding: 0px; height: auto;" size="">
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="../../../assets/icon/icon3.png" />
        </ion-avatar>
        <ion-label>E Darshan</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col style="padding: 0px; height: auto;" size="">
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="/assets/icon/icon5.png" />
        </ion-avatar>
        <ion-label>Bookings</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col style="padding: 0px; height: auto;" size="">
      <ion-chip>
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="/assets/icon/icon1.png" />
        </ion-avatar>
        <ion-label>Prashad</ion-label>
        <ion-icon name="arrow-redo" style="color: #ff4848;"></ion-icon>
      </ion-chip>
    </ion-col>
  </ion-row>
</ion-grid>





<!-- Video Grid Section -->
<ion-grid>
  <!-- Harshidhi Temple -->
  <ion-row>
    <ion-col size="4">
      <!-- <iframe src="https://www.youtube.com/embed/pC4232_RIXI?si=72hxrxSxQKHHkBXM" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
        <img src="../../../assets/temple/temp3.jpg" alt="">
    </ion-col>
    <ion-col size="8">
      <div class="ring-container ring-container-bg">
        <div class="ringring"></div>
        <div class="circle"></div>
        <span class="live-streem">Live Dershan</span>
      </div>
      <span class="title">Harshidhi Temple</span>
      <br>
      <span class="sub-title">महाकाल के दिव्य दर्शन: आज की खास खबर</span>
    </ion-col>
  </ion-row>

  <!-- Chintaman Temple -->
  <ion-row>
    <ion-col size="4">
      <!-- <iframe src="https://www.youtube.com/embed/pC4232_RIXI?si=72hxrxSxQKHHkBXM" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
        <img src="../../../assets/temple/temp2.jpg" alt="">
    </ion-col>
    <ion-col size="8">
        <div class="ring-container ring-container-bg">
          <div class="ringring"></div>
          <div class="circle"></div>
          <span class="live-streem">Live Dershan</span>
        </div>
      <span class="title">Chintaman Live</span>
      <br>
      <span class="sub-title">उज्जैन से सीधे महाकाल की ताज़ा झलक</span>
    </ion-col>
  </ion-row>

  <!-- Kalbherav Temple -->
  <ion-row>
    <ion-col size="4">
      <!-- <iframe src="https://www.youtube.com/embed/pC4232_RIXI?si=72hxrxSxQKHHkBXM" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
        <img src="../../../assets/temple/temp1.jpg" alt="">
    </ion-col>
    <ion-col size="8">
      <div class="ring-container ring-container-bg">
        <div class="ringring"></div>
        <div class="circle"></div>
        <span class="live-streem">Live Dershan</span>
      </div>
      <span class="title">Kalbherav Live Arti</span>
      <br>
      <span class="sub-title">महाकाल मंदिर से जुड़ी रोचक जानकारियाँ</span>
    </ion-col>
  </ion-row>

  <!-- Manchanman Temple -->
  <ion-row>
    <ion-col size="4">
      <iframe src="https://www.youtube.com/embed/pC4232_RIXI?si=72hxrxSxQKHHkBXM" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ion-col>
    <ion-col size="8">
      <div class="ring-container ring-container-bg">
        <div class="ringring"></div>
        <div class="circle"></div>
        <span class="live-streem">Live Dershan</span>
      </div>
      <span class="title">Manchanman Live</span>
      <br>
      <span class="sub-title">भक्ति और आस्था: महाकाल से जुड़ी हर खबर</span>
    </ion-col>
  </ion-row>

  <!-- Vikramaditya Palace -->
  <ion-row>
    <ion-col size="4">
      <!-- <iframe src="https://www.youtube.com/embed/pC4232_RIXI?si=72hxrxSxQKHHkBXM" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
        <img src="../../../assets/temple/temp3.jpg" alt="">
    </ion-col>
    <ion-col size="8">
      <div class="ring-container ring-container-bg">
        <div class="ringring"></div>
        <div class="circle"></div>
        <span class="live-streem">Live Dershan</span>
      </div>
      <span class="title">Vikramaditya Palace</span>
      <br>
      <span class="sub-title">महाकाल मंदिर की अनसुनी कहानियाँ</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <!-- <iframe src="https://www.youtube.com/embed/pC4232_RIXI?si=72hxrxSxQKHHkBXM" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> -->
        <img src="../../../assets/temple/temp1.jpg" alt="">
    </ion-col>
    <ion-col size="8">
      <div class="ring-container ring-container-bg">
        <div class="ringring"></div>
        <div class="circle"></div>
        <span class="live-streem">Live Dershan</span>
      </div>
      <span class="title">Vikramaditya Palace</span>
      <br>
      <span class="sub-title">हिंदी में महाकाल मंदिर की विशेष अपडेट</span>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      <iframe src="https://www.youtube.com/embed/pC4232_RIXI?si=72hxrxSxQKHHkBXM" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </ion-col>
    <ion-col size="8">
      <div class="ring-container ring-container-bg">
        <div class="ringring"></div>
        <div class="circle"></div>
        <span class="live-streem">Live Dershan</span>
      </div>
      <span class="title">Vikramaditya Palace</span>
      <br>
      <span class="sub-title">Live Darshan</span>
    </ion-col>
  </ion-row>
</ion-grid>