.icon-container {
    width: 60px;
    height: 60px;
    background-image: url('../../../assets/icon/icon-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon-container-test {
    width: 55px;
    height: 55px;
    background: #ffffff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featured-container {
    margin-top: 5px;
    width: 100%;
}

.title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    height: 45px;
    margin-top: 25px;
    padding: 16px;
}

.feture-grid{
    padding: 10px;
    height: auto;
    border-radius: 10px;

}

.icons-img{
    width:25px;
}

ion-icon{
    font-size: 2rem;
     color: #ffffff;
}

.title {
 font-size: 0.7rem;
 text-align: center;
}

ion-col {
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fetures-card{
 margin-top: 7px;
 width: 95%;
 border-radius: 15px;

}

ion-card-content{
    padding: 0px;
}