/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/*swiper css*/

@use "swiper/scss" as swiper;
@use "swiper/scss/autoplay";
@use "swiper/scss/keyboard";
@use "swiper/scss/pagination";
@use "swiper/scss/scrollbar";
@use "swiper/scss/zoom";
@use "@ionic/angular/css/ionic-swiper" as ionicSwiper;
@use "swiper/scss/effect-flip";
@use "swiper/scss/a11y";


/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */



/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
@import '../src/theme/variables.scss';




body,
html {
  font-family: var(--font-family);
  font-weight: 400;
}

.header-title {
  font-size: 1.2rem;
  font-family: var(--font-family);
  font-weight: 600;
}
